:root {
  --green-color: #2fc18c;
  --blue-color: #003BE5;
  --box-shadow: 0px 9px 13px rgba(3, 107, 82, 0.3);
  --border-radius: 0.625rem;
  --disabled-blue-color: #73A4FF;
  --lighter-blue-color: #4783f1;
  --white-color: #ffffff;
}

h1 {
  color: var(--blue-color);
  text-align: center;
}

.form_container {
  background-color: var(--green-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.form {
  background: white;
  border-radius: 0.625rem;
  box-shadow: var(--box-shadow);
  height: 50vh;
  width: 33.33vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: row;
  gap: 0.9375rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  width: 66.66%;
}

.input {
  background-color: black;
  border: black;
  border-radius: 0.3125rem;
  color: white;
  height: 2.5rem;
  padding: 0.75rem;
  width: 100%;
}

.password-wrapper {
  position: relative;
}

.show-password-input {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  accent-color: var(--green-color);
}

.button {
  background-color: var(--blue-color);
  border: #fff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border-radius: 0.3125rem;
  height: 2.5rem;
  width: 100%;
}

.button:disabled {
  background-color: var(--disabled-blue-color);
}

.button:enabled {
  cursor: pointer;
}

.button:active {
  box-shadow: inset 0px 0px 0.3125rem 0.015625rem black;
}
