:root {
  --green-color: #2fc18c;
  --blue-color: #003BE5;
  --box-shadow: 0px 9px 13px rgba(3, 107, 82, 0.3);
  --border-radius: 0.625rem;
  --bottom-border-radius: 0px 0px 0.6rem 0.625rem;
  --gray-color: #E1E5EB;
  --lighter-blue-color: #4783f1;
  --white-color: #ffffff;
}

.wallet-form {
  border-radius: var(--bottom-border-radius);
  display: flex;
  flex-direction: column;
  height: 13.1rem;
  margin-top: 30vh;
  position: absolute;
  width: 80vw;
}

.inputs-container {
  background-color: var(--gray-color);
  color: var(--blue-color);
  display: flex;
  /* flex-wrap: row wrap; */
  height: 8.4rem;
  width: 80vw;
}

.WalletForm__text-input {
  background-color: var(--gray-color);
  border: 0.1rem var(--blue-color) solid;
  border-radius: 0.3rem;
  color: white;
  height: 2.5rem;
  padding: 0.75rem;
  width: 18.7rem;
}

.WalletForm__select_input {
  background-color: var(--gray-color);
  border: 0.1rem var(--blue-color) solid;
  border-radius: 0.3rem;
  color: white;
  height: 2.5rem;
  padding: 0.75rem;
  width: 17rem;
}

.WalletForm__button-container {
  align-items: center;
  display: flex;
  height: 4.7rem;
  justify-content: center;
}

.WalletForm__button {
  background-color: var(--green-color);
  border: 0px;
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow);
  color: var(--white-color);
  cursor: pointer;
  height: 2.1rem;
  width: 20.625rem;
}

.WalletForm__button:active {
  box-shadow: inset 0px 0px 0.3125rem 0.015625rem black;
}