:root {
  --green-color: #2fc18c;
  --blue-color: #003BE5;
  --box-shadow: 0px 9px 13px rgba(3, 107, 82, 0.3);
  --border-radius: 0.6rem;
  --bottom-border-radius: 0px 0px 0.6rem 0.625rem;
  --gray-color: #E1E5EB;
  --lighter-blue-color: #4783f1;
  --white-color: #ffffff;
}

.wallet-form {
  border-radius: var(--bottom-border-radius);
  display: flex;
  flex-direction: column;
  font-weight: 700;
  height: 13.1rem;
  margin-top: 30vh;
  position: absolute;
  width: 80vw;
}

.inputs-container {
  align-items: center;
  background-color: var(--gray-color);
  color: var(--blue-color);
  display: flex;
  flex-wrap: wrap;
  height: 8.4rem;
  justify-content: space-evenly;
  width: 80vw;
}

.WalletForm__text-input {
  background-color: var(--gray-color);
  border: var(--blue-color) solid;
  border-radius: 0.3rem;
  caret-color: var(--blue-color);
  color: var(--blue-color);
  font-weight: 400;
  padding: 0.3rem;
  width: 27rem;
}

.WalletForm__select_input {
  background-color: var(--gray-color);
  border: var(--blue-color) solid;
  border-radius: 0.3rem;
  color: var(--blue-color);
  font-weight: 400;
  padding: 0.5rem;
}

.WalletForm__select_input option:active {
  background-color: var(--blue-color);
}

*:focus {
  outline: var(--blue-color);
}

.WalletForm__button-container {
  align-items: center;
  display: flex;
  height: 4.7rem;
  justify-content: center;
}

.WalletForm__button {
  background-color: var(--green-color);
  border: none;
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow);
  color: var(--white-color);
  font-weight: 400;
  height: 2.5rem;
  width: 20.6rem;
}

.WalletForm__button:hover {
  cursor: pointer;
}

.WalletForm__button:active {
  box-shadow: inset 0px 0px 0.3125rem 0.015625rem black;
}
